<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Open+Sans:wght@300&family=Playfair+Display+SC&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Student Login</h1>
        <form method="post" class="login-box" action="/StudentLogin/<%= TestId %>/<%= userid %>">
            <div class="col">
                <label for="enrolment">Enter Enrolment No.
                </label>
                <input class="username box" type="text" autocomplete="off" name="enrolment">
            </div>
            <div class="col">
                <label for="password">
                    Password
                </label>
                <input class="password box" type="password" autocomplete="off" name="password">
            </div>
           
            <button class="btn" type="submit" name="login">Login</button>

        </form>
    </div>
</body>

</html>